 <h1 id="headcontent">WELCOME TO CUSTOMER HOME PAGE 😍</h1> 
  <div class="button-container">
    <button class="button" id="getDetailsButton">YOUR PROFILE</button>
    <button class="button" id="updateButton">UPDATE</button>
    <button class="button" id="displayworks">DISPALY WORKS</button>
    <button class="button" id="displayVendorsButton">DISPLAY ALL VENDORS</button>
    <button class="button" id="deleteButton">DELETE</button>
    <button class="button" id="uploadWork">UPLOAD WORK</button>
     <button class="button" id="payment">Make payment</button> 
    <button class="button" id="logoutButton">Logout</button>
  </div>

  <div id="detailsContainer" style="display: none;border: 1px solid;">
    <h2>Customer Details</h2>
    <p><strong>Name:</strong> <span id="customerName"></span></p>
    <p><strong>Email:</strong> <span id="customerEmail"></span></p>
    <p><strong>Phone:</strong> <span id="customerPhone"></span></p>
    <p><strong>Family count:</strong> <span id="customerFamilyCount"></span></p>
    
  </div>
  <div id="listofworks">
    <h2  id="listcontent">List of Available Works which are uploaded by Customer</h2>
     <div id="listofworks"></div> 
  </div>
  <div id="vendorDetails">
    <h2 id="listcontent1">List of Available Vendors for Contact</h2>
    
  </div> -->
   