<div class="page-container">
    <h1 id="headcontent">😍🙏WELCOME TO CUSTOMER HOME PAGE 🙏😍</h1>
    <div class="button-container">
      <button class="button" id="getDetailsButton" (click)="redirectToGetDetails()">Get Details</button>
      <button class="button" id="updateButton" (click)="redirectToUpdatePage()" >Update</button>
      <!-- <button class="button" id="displayworks">Display Works</button> -->
      <!-- <button class="button" id="displayVendorsButton">Display All Vendors</button> -->
      <button class="button" id="deleteButton" (click)="redirectToDeleteDetails()">Delete</button>
      <!-- <button class="button" id="uploadWork">Upload work</button> -->
      <button class="button" id="logoutButton" routerLink = "/dashboard">Logout</button>
    </div>
  
  </div>
  