<section  id="footer11" class="footer">
    <div class="ch1footer">
      <div class="ch1ch1footer">
        <h2>About</h2>
        <p>This webiste connects customers as well as venodrs to provide the homw services. Customer is the one who provide the work and vendor is the one who needs the works after completing the work the customer give a amount to that vendor .This will avoids the Third perty persons that swhy we can use this application</p>
        <p>Social Media :</p>
        <div class="social">
          <ol>
            <li><i class="fa-brands fa-facebook"></i></li>
            <li><i class="fa-brands fa-twitter"></i></li>
            <li><i class="fa-brands fa-instagram"></i></li>
            <li><i class="fa-brands fa-google"></i></li>
            <li><i class="fa-brands fa-youtube"></i></li>
            <li><i class="fa-solid fa-envelope"></i></li>
          </ol>
        </div>
      </div>
      <div class="ch2ch2footer">
        <h2>Featured service</h2>  
        <div class="social">
          <ol>
            <li>AC Repair & Services</li>
            <li>Electrician Services</li>
            <li>Plumber Services</li>
            <li>Refrigerator Repair & Services</li>
            <li>Carpenter Services</li>
            <li>Pest Control Services</li>
          </ol>
        </div>
      </div>
     
      <div class="ch1ch1footer">
        <h2>Address : </h2>
        <table cellspacing="15px" id="table1" >
          <tr>
            <th>
              Plot-No :
            </th>
            <td>
             
            </td>
          </tr>
          <tr>
            <th>
              Landmark: 
            </th>
            <td>
              Edubridge
            </td>
          </tr>
          <tr>
            <th>
              Area : 
            </th>
            <td>
             Ameerpet
            </td>
          </tr>
          <tr>
            <th>
              City : 
            </th>
            <td>
              Hyderabad
            </td>
          </tr>
          <tr>
            <th>
              State :
            </th>
            <td>
              Telangana
            </td>
          </tr>
          <tr>
            <th>
              Pincode :
            </th>
            <td>
              500082
            </td>
          </tr>
        </table>
        <h3 id="footerc">Contact : 7995263280 </h3>
      </div>
    
      <div id="upaarrow"><a href="#" ><i class="fa-sharp uparrow  fa-solid fa-angle-up"></i></a></div>
    </div>
  </section>
  
