
<section>
  <div  >
    <h2 id="title">Smart Way Easy Life...</h2>
  
    <p id="sub-title">Sevices You Can Find Here...</p>
  </div>
 
<section id="sub-body">
  <h1>All Trending Home Services</h1>
</section>

<div id="main-con">
  <div id="sub-main-con">
    <div class="sub-main-con1 wcon">
      <img src="../../assets/assets/cleaning.png" alt="">
      <h4>Home Cleaning</h4>
      
    </div>
    <div class="sub-main-con2 wcon">
      <img src="../../assets/assets/carpentry.png" alt="">
      <h4>Carpenter</h4>
      </div>
      <div class="sub-main-con3 wcon">
        <img src="../../assets/assets/gardening.png" alt="">
        <h4>Gardening</h4>
        
      </div>
      <div class="sub-main-con4 wcon">
        <img src="../../assets/assets/pesting.png" alt="">
        <h4>Pest Control</h4>
      </div>
      <div class="sub-main-con5 wcon">
        <img src="../../assets/assets/water-purifier.png" alt="">
        <h4>Water Purifier</h4>
      </div>
      <!-- <div class="sub-main-con6 wcon ">
        <img src="./Image/" alt="">
        <h4>Refrigerator</h4>
      </div> -->
    </div>
    <div class="sub-main-con22">
      <div class="sub-main-con1 wcon">
        <img src="../../assets/assets/amc-plan.png" alt="">
        <h4>AMC Plan</h4>
      </div>
      <div class="sub-main-con2 wcon">
        <img src="../../assets/assets/washing-machine.png" alt="">
        <h4>Washing-Machine</h4>
        </div>
        <div class="sub-main-con3 wcon">
          <img src="../../assets/assets/plumbing.png" alt="">
          <h4>Plumbing</h4>
        </div>
        <!-- <div class="sub-main-con4 wcon">
          <img src="./Image/" alt="">
          <h4>AC</h4>
        </div> -->
        <div class="sub-main-con5 wcon">
          <img src="../../assets/assets/painting.png" alt="">
          <h4>Painting</h4>
        </div>
        <div class="sub-main-con6 wcon ">
          <img src="../../assets/assets/laundry.png" alt="">
          <h4>Laundry</h4>
        </div>
    </div>
  </div>
    
</section>
<hr id="hrline">

<section class="process">
  <h1 >Let's See How It Works</h1>
  <hr>
  <h2 >We are having two categories</h2>
  <div class="catogories">
    <div class="customer-out">
      <h1 class="head1">1.Customer</h1>
      <h3 class="head1">A customer is one who provide or post the work. </h3>
      <div class="customer">
        <div class="cust-card">
          <h1>Step-1</h1>
          <hr>
          <i class="fa-solid user fa-user-tie"></i>
          <h4>Create An Account As Customer</h4>
          <div class="btn" ><a target="blank" class="redirect" routerLink="/customer-registration">Create-Account</a></div>
        </div>
        <div class="cust-card">
          <h1>Step-2</h1>
          <hr>
          <i class="fa-solid user fa-right-to-bracket"></i>
          <h4>Login Into Customer Account</h4>
          <div class="btn"><a target="blank" class="redirect" routerLink="/customer-login">Login</a></div>
        </div>
        <!-- <div class="cust-card">
          <h1>Step-3</h1>
          <hr>
          <i class="fa-solid user fa-square-plus"></i>
          <h4 id="addw">Add Works</h4>
          <div class="btn">Add-Work</div>
        </div> -->
        <div class="cust-card">
          <h1>Step-3</h1>
          <hr>
          <i class="fa-solid user fa-handshake"></i>
          <h4 id="conv">Contact The Vendor, Who Suites Your Requirement</h4>
          <div class="btn"><a href="./customer/customerlogin.html" target="blank" class="redirect">List of Vendors</a></div>
        </div>
      </div>
    </div>
    <div class="vendor-out">
      <h1 class="head1">2.Vendor</h1>
      <h3 class="head1">A vendor is a one who select's the work and  completes it.</h3>
      <div class="vendor">
        <div class="vend-card">
          <h1>Step-1</h1>
          <hr>
          <i class="fa-solid user fa-user-tie"></i>
          <h4>Create An Account As Vendor</h4>
          <div class="btn"><a target="blank" class="redirect" routerLink="/vendor-registration">Create-Account</a></div>
        </div>
        <div class="vend-card">
          <h1>Step-2</h1>
          <hr>
          <i class="fa-solid user fa-right-to-bracket"></i>
          <h4>Login Into Your Vendor Account</h4>
          <div class="btn"><a target="blank" class="redirect" routerLink="/vendor-login">Login</a></div>
        </div>
        <!-- <div class="vend-card">
          <h1>Step-3</h1>
          <hr>
          <i class="fa-solid user fa-hand-pointer"></i>
          <h4 id="selw">Select Work</h4>
          <div class="btn">Select-Work</div>
        </div> -->
        <div class="vend-card">
          <h1>Step-3</h1>
          <hr>
          <i class="fa-solid user fa-handshake"></i>
          <h4 id="conv">Contact The Customer, Who Posted That Requirement</h4>
          <div class="btn"><a href="./vendor/vendorlogin.html" class="redirect">Customers</a></div>
        </div>
      </div>
    </div>
  </div>
</section>



 <h1 id="feat">Your Safety Is Our First Priority</h1>
<hr id="feathr">
<section class="keys">
    <div class="keys-inner">
      <div class="security">
        <div class="icon">
          <i class="fa-solid fa-shield-halved ico"></i>
        </div>
        <div class="description">
          <h3>User Security</h3>
          <hr>

          <ol>
            <li>Your Security Is Our Priority.</li>
            <li>Your Information Is Secured.</li>
            <li>Lorem ipsum dolor sit.</li>
            <li>Lorem ipsum dolor sit.</li>
          </ol>
        </div>
      </div>
      <div class="verified">
        <div class="icon">
          <i class="fa-solid fa-square-check ico"></i>
        </div>
        <div class="description">
          <h3>Verified-Users</h3>
          <hr>

          <ol>
            <li>Ther is no space for Spam.</li>
            <li>You will find VERIFIED users.</li>
            <li>Lorem ipsum dolor sit.</li>
            <li>Lorem ipsum dolor sit.</li>
          </ol>
        </div>
      </div>
    </div>
</section>
